.git
.github
.idea
.vscode
.env
.env.*
!.env.example
node_modules
npm-debug.log
yarn-error.log
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/backup/*
storage/install.zip
storage/update.zip
database_backup_*.sql
assets/
scripts/assets/
docs/
design-previews/
*.md
.DS_Store
Homestead.json
Homestead.yaml
docker-compose.override.yml
